<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=
    , initial-scale=1.0"
    />
    <title>Omnifood hero section</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="hero.css" />
  </head>
  <body>
    <header>
      <nav class="container">
        <div>LOGO</div>
        <div>Nav</div>
      </nav>
      <div class="container">
        <h1>A healthy meal delivered to your door.</h1>
        <p>The smart 365-days-per-year food subscription.</p>
        <a href="#" class="btn">Start eating well</a>
      </div>
    </header>
    <section>
      <div class="container">
        <h2>Heading</h2>
        <p>
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis
          esse unde fugit harum rem quo tempora facilis, eius odit natus ad,
          laudantium eum illo nostrum at ipsa corrupti amet id!
        </p>
      </div>
    </section>
  </body>
</html>
