* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
    color: #343a40;
    font-size: 24px;
    height: 100vh;
    font-weight: bold;
    text-align: center;

    display: grid;
    grid-template-columns: 80px 400px 1fr 250px;
    grid-template-rows: 80px 1fr;
}
nav {
    background-color: #343a40;
    grid-row: 1 / -1;
    color: white
}

menu {
    background-color: #7048e8;
    grid-column: 2 / -1;
    display: flex;
    align-items: center;
    gap: 12px;
}

aside {
    background-color: #e9ecef;
}
section {
    background-color: antiquewhite;
    padding: 40px;
    overflow: scroll;
    gap: 40px;
    display: flex;
    flex-direction: column;
}
nav, section, main, aside {
    padding-top: 20px;
}
button {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    background-color: #5f3dc4;
    border: none;
    cursor: pointer;
    color: #fff;
    padding: 8px 12px;
}
button:last-child{
    background-color: rgb(209, 12, 84);
    margin-left: auto;
}
.email {
    background-color: #e9ecef;
    height: 96px;
    flex-shrink: 0;
    display: flex;
    /* Sets the item at the top center */
    align-items: center; 
    /* sets the item at te center of the element */
    justify-content: center;
}